<!-- nav bar  -->
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<!-- end nav bar -->
<!-- jumbotron -->
<div class="container">
  <div class="jumbotron my-4 text-center">
    <h1 class="display-4">HardwareReviews App</h1>
    <h2><a href="https://www.guru3d.com/"> Original site here </a></h2>
    <p class="lead">This is a Node, Express, <strong>MongoDB</strong> and express-handlebars powered scraped 
      website.</p>
    <hr class="my-4">
    <p>
      Technologies:
      <ol class="list-unstyled">
        <li>Node.JS for the back-end services</li>
        <li>Express and express-handlebars to handle routing and serving both apis and HTML routes </li>
        <li>Axios and Cheerio to scrape the target site and extract the data </li>
        <li>MongoDB to store the data </li>
        <li>Query for AJAX requests and handling other
          front-end logic.</li>
        <br>
        Additional technologies:
        <ol class="list-unstyled">
          <li>Bootstrap Accordion to list all reviews </li>
          <li>Bootstrap list items to display comments on the reviews </li>
          <li>Bootstrap modal to let users input their comments</li>
          <li>Moment to format dates into human readable style</li>          
        </ol>
    </p>
    <br>
    <a class="btn btn-primary btn-lg" href="./reviews" role="button">Try it!</a>
  </div>
</div>
<!-- end jumbotron -->