<!-- nav bar  -->
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="./">Home<span class="sr-only">(current)</span></a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" id="search-input" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search">Search</button>
    </form>
  </div>
</nav>
<!-- end nav bar-->
{{!-- burger logo --}}

<div class="container">
  <div class="jumbotron my-4" id="maindisplay">
    {{!-- logo here --}}

  </div>
</div>
<div class="container">
  <div class="jumbotron my-4" id="maindisplay">
    {{!-- Accordion here --}}
    <div class="container">
      <div class="accordion" id="accordion">
        <div class="card">
          <div class="card-header " id="headingOne">
            <div class="row">
              <div class="col-12 d-flex align-content-start">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#review1"
                  aria-expanded="true" aria-controls="review1"
                  style="color: black; font-weight: bold; text-decoration: none">
                  Review: Corsair Dominator Platinum RGB DDR4 memory (32GB / 3600MHz) - Next level Easthetics
                </button>
              </div>
            </div>
          </div>

          <div id="review1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <h1 id="author">By Hilbert Hagedoorn on: 02/21/2019 03:00 PM </h1>
              <h2 id="link">
                https://www.guru3d.com/news-story/review-corsair-dominator-platinum-rgb-ddr4-memory-(32gb-3600mhz).html
              </h2>
              <div class="row">
                <div class="col-4">
                  <span id="img"> <img src="https://www.guru3d.com/news_teaserimage/13387"
                      alt="https://www.guru3d.com/news_teaserimage/13387"></span>
                </div>
                <div class="col-8">
                  <span id="desc">Corsair outs a new Dominator Platinum RGB DDR4 memory kit. Not only do these puppies
                    look awesome, but they are also properly specced as well. We received a 4x8GB DDR4 3600MHz CAS 16
                    DRAM kit from Corsair, so that is 32GB at your disposal for dual and even quad-channel memory
                    configurations.Read our review right here.  </span>
                </div>
              </div>
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon
              officia aute, non cupidatat skateboard dolor brunch.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end accordion -->
  </div>
</div>

<!-- begin Comment modal -->
<div class="modal fade" id="comment-modal" tabindex="-1" role="dialog" aria-labelledby="Comment-modal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="comment-modal-title">Add a new comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="update-modal-body">
        <!-- modal body -->
        <div class="form-row">
          <div class="form-group col">
            <input class="form-control" id="userName-input" type="text" placeholder="Enter your userName">
          </div>
          <div class="form-group col">
            <textarea class="form-control" id="comment-input" cols="30" rows="10"
              placeholder="Your comment here"></textarea>
          </div>
        </div>
        <!-- end body -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-outline-primary" id="save-comment" type="submit">Order</button>
      </div>
    </div>
  </div>
</div>
<!-- end Comment modal -->


<footer class="footer mt-4">
  <div class="container">
    <p>Control Panel</p>
    <p><button type="button" class="btn btn-outline-danger" id="clear">Clear Table</button> | <button type="button"
        class="btn btn-outline-success" id="reset">Reset Table</button>
  </div>
</footer>
<script src="assets/js/app.js"></script>